.tab-item-container {
	width: 30%;
	font-size: 28rpx;
	color: #888;
	letter-spacing: 4rpx;
}

.max-width {
	width: 100% !important;
}

.item-select-container {
	padding: 15rpx 30rpx;
	background-color: #EEEEEE;
	border-radius: 15rpx;
	color: #222;
}

.tab-item-text {
	color: #888;
	font-size: 24rpx;
}

.article-avatar {
	width: 80rpx;
	height: 80rpx;
}

.aricle-user-name {
	font-size: 26rpx;
	color: #222;
	letter-spacing: 1rpx;
}

.article-create-time {
	font-size: 24rpx;
	color: #888888;
	letter-spacing: 1rpx;
}

.operation-item {
	height: 100%;
	width: 33%;
}

.operation-border-top {
	border-top: 1rpx solid #EEEEEE;
}

.operation-icon {
	font-size: 34rpx;
	margin-right: 10rpx;
}

.avatar-border {
	border: 1rpx solid #eee;
}

.fixTabbar {
	position: fixed;
	z-index: 888;
}

.activity_content {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}

.activity_attention {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.fix-loading {
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 666;
}

.none-default-image {
	width: 100%;
}

.icon-button {
	background-color: #fff;
	border: none;
	padding-left: 0;
	margin: 0;
	line-height: 1;
	line-height: 1;
	outline: none;
	list-style: none;
	font-size: 26rpx !important;
}
