.store-container {
	position: fixed;
	height: 100%;
	width: 100%;
}

page {
	background-image: var(--gradualBlue);
	width: 100vw;
	overflow: hidden;
}

.DrawerPage {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0vw;
	background-color: #f1f1f1;
	transition: all 0.4s;
}

.DrawerPage.show {
	transform: scale(0.9, 0.9);
	left: 85vw;
	box-shadow: 0 0 60upx rgba(0, 0, 0, 0.2);
	transform-origin: 0;
}

.DrawerWindow {
	position: absolute;
	width: 85vw;
	height: 100vh;
	left: 0;
	top: 0;
	transform: scale(0.9, 0.9) translateX(-100%);
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s;
	padding: 100upx 0;
}

.DrawerWindow.show {
	transform: scale(1, 1) translateX(0%);
	opacity: 1;
	pointer-events: all;
}

.DrawerClose {
	position: absolute;
	width: 40vw;
	height: 100vh;
	right: 0;
	top: 0;
	color: transparent;
	padding-bottom: 30upx;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.6));
	letter-spacing: 5px;
	font-size: 50upx;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s;
}

.DrawerClose.show {
	opacity: 1;
	pointer-events: all;
	width: 15vw;
	color: #fff;
}

.DrawerPage .cu-bar.tabbar .action button.cuIcon {
	width: 64upx;
	height: 64upx;
	line-height: 64upx;
	margin: 0;
	display: inline-block;
}

.DrawerPage .cu-bar.tabbar .action .cu-avatar {
	margin: 0;
}

.DrawerPage .nav {
	flex: 1;
}

.DrawerPage .nav .cu-item.cur {
	border-bottom: 0;
	position: relative;
}

.DrawerPage .nav .cu-item.cur::after {
	content: "";
	width: 10upx;
	height: 10upx;
	background-color: currentColor;
	position: absolute;
	bottom: 10upx;
	border-radius: 10upx;
	left: 0;
	right: 0;
	margin: auto;
}

.DrawerPage .cu-bar.tabbar .action {
	flex: initial;
}

.no-padding {
	padding: 0 !important;
}

.category-title {
	font-size: 26rpx !important;
	letter-spacing: 2rpx;
	color: #666666;
}

.flow-box {
	position: relative;
	color: #1a1a1a;
	padding-bottom: var(--window-bottom);
}

.flow-box .item {
	position: absolute;
	left: 10upx;
	width: calc(50% - 20upx);
	border: 1upx solid #f9f9f9;
	background: #fff;
}

.flow-box .left {
	left: 380upx;
}

.flow-box .pic {
	background: #f6f6f6;
}

.flow-box .content {
	padding: 20upx;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.flow-box .content text {
	width: 100%;
	font-size: 24upx;
	margin-bottom: 20upx;
}
