.addition-container {
	position: fixed;
	height: 100%;
	width: 100%;
}

.textarea-font-size {
	font-size: 26rpx !important;
	height: 6rem !important;
	width: 100%;
	margin: 32rpx 0 30rpx;
	color: #808080;
	letter-spacing: 1rpx;
}

.checkbox-title {
	font-size: 26rpx !important;
	letter-spacing: 2rpx;
	color: #666666;
}
